# Node modules
node_modules/

# TypeScript build output
dist/
build/
out/
.shouldnotcommit/
webui/
exampleData/
coverage/
web-for-testing/dist/
web-for-testing/build/
web-for-testing/out/
web-for-testing/src/ext
jest/


# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Env files
.env
npm-shrinkwrap.json
web-for-testing/src/accountStore.ts
