name: Build, lint and test

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  vitest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20.x, 22.x, 24.x, 25.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org/'

      - name: Clean cache
        run: npm cache clean --force

      - name: Verify Node.js and Npm versions
        run: node -v && npm -v

      - name: Install dependencies
        run: npm ci && npm run precondition && npm run deepClean && npm install && npm link matterbridge

      - name: Lint the project
        run: npm run lint

      - name: Test the project
        run: npm run test

      - name: Build (optional)
        run: npm run build
